.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
}

body {
    background-color: $tertiary;
}

section {
    background-color: $whiteShade;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

button {
    background-color: $accent;
    border: 2px solid $accent;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.5s;

    &:hover,
    &:focus {
        border: 2px solid $accent;
        background-color: white;
    }
}

a {

    display: inline-block;

}

footer {
    text-align: center;
    background-color: $primary;
    color: white;
    padding: 10px 0px;

    p {
        margin: 0;
        line-height: 32px;

    }
}