.blogStyle {
    padding: 50px 0px;

    .columnFlex {
        display: flex;
        gap: 40px;
    
    }
    
    .columnOne {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 30%;
        gap: 20px;

        .about {

            h5 {
                margin-top: 20px;
            }
        }

        .recent {

            h5 {
                margin-bottom: 10px;
            }
            ul {
                margin-left: 20px;
            }

            li {
                padding: 10px;
                &::before {
                    content:"•";
                    color: $tertiary;
                    display: inline-block;
                    width: 20px;
                    margin-left: -10px;
                }
            }
        }
    }
    
    .columnTwo {
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: 20px;
    }
    
    .about,
    .recent,
    .blog,
    .commentOne,
    .commentTwo {
        background-color: white;
        padding: 30px;
    }
    
    .blog {
        border-bottom: 3px solid $tertiary;
    }
    
    .commentOne,
    .commentTwo {
        display: flex;
        gap: 30px;
    }
    
    .commentTwo {
        border-bottom: 3px solid $tertiary;
    }
    .img {
        width: 10%;
    }

    .txt {
        width: 90%;
    }

    span {
        color: $secondary;
        font-weight: bold;
    }

    h4 {
        margin-bottom: 20px;
    }
}