.contactInfo {
    padding: 90px 0px;

    .wrapperFlex {
        display: flex;
        gap: 40px;
    }

    .columnLeft {
        width: 35%;
    }

    .emailPhone {
        display: flex;
        flex-direction: column;
    }
    
    .infoBox {
        background-color: white;
        padding: 50px;

        a {
            text-transform: lowercase;
            padding-top: 10px;
            transition: 0.3s;

            &:hover,
            &:focus {
                color: $accent;
            }
        }

        address {
            margin-top: 10px;
            line-height: 25px;
            font-style: normal;
        }
    }

    .socials {
        color: $tertiary;
        @include fontSize(25);

        ul {
            display: flex;
            gap: 30px;
            padding-bottom: 20px;
        }
        
    }
    
    .columnRight {
        width: 65%;
    }
}