.favThings {
    background-color: white;

    .favContainer {
        display: flex;
        flex-wrap: nowrap;
        gap: 80px;
    }

    .favTxt {
        width: 50%;
        padding: 60px 50px;
    }

    .favImg {
        width: 50%;
        display: flex;
        justify-content: right;
        
    }

    img {
        width: 700px;
        height: 400px;
        box-shadow: -800px 20px 0px 0px $senary, 20px 20px 0px 0px $senary,
        -300px 20px 0px 0px $senary;
        position: relative;
        top: -30px
    }



}
