.favThings {
    background-color: white;


    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        
    }

    .favTxt {
        flex: 1;

    }

    .favImg {
        flex: 1;
    }

    img {
        box-shadow: -800px 20px 0px 0px $senary, 20px 20px 0px 0px $senary,
        -300px 20px 0px 0px $senary;
        position: relative;
        top: -35px
    }



}
       // width: 620px;
        //height: 400px;