
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding-top: 10px;

    .headerTxt {
        padding-bottom: 20px
    }
    .decoTxt {
        width: 140px;
        position: relative;
        bottom: -50px;
        left: -40px;
        z-index: -1;
    }

    h2 {
        @include fontSize (100);
        letter-spacing: 5px;
    }

    .headerPic {
        position: relative;
        bottom: -40px;
        box-shadow: 13px 12px 0px 2px white;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}


// Styles for BLOG header

.blogHeader { 
    background-image: url(/assets/blog-image-1.jpg);
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h2 {
        position: absolute;
        bottom: -40px
    }

}

// Styles for CONTACT header

.contactHeader {
    background-image: url(/assets/contact-image-1.jpg);
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h2 {
        position: absolute;
        bottom: -40px;
    }
}