.journey {
    background-color: $whiteShade;
    padding: 70px 0px;

    .wrapper {
        display: flex;
    }
    .journeyImg {
        width: 40%;
        display: flex;
        justify-content: left;
    }

    .journeyTxt {
        width: 70%;
    }
    img {
        width: 320px;
        height: 320px;
        box-shadow: 13px 12px 0px 2px $tertiary;
    }
}