/* Portrait tablet and small desktops */
@media (max-width: 940px) {

    button {
        width: 90%;
    }

    .headerContainer {
        flex-direction: column;
        gap: 0;

        .headerTxt {
            padding: 0;
            position: relative;
            top: 70px;
            left: -22px;
            z-index: 1;
        }

        .headerPic {
            bottom: -20px;
            z-index: 0;
            box-shadow: 13px 12px 0px 2px white;
        }
        
    }


    .textContainer {
        text-align: center;
    }

    .mobileNav {
        display: block;
        padding: 10px 0px;

    }
    .navBar {
        display: none;
    }

    .journey {

        .wrapper {
            flex-direction: column-reverse;
        }

        .journeyImg {
            width: 100%;
            padding-top: 50px;
        }

        img {
            width: 300px;
            height: 300px;
        }

        .journeyTxt {
            width: 100%;
            text-align: center;
            padding: 10px 50px;
        }
    }

    .threeImg { // three Img section 

        padding: 50px;
        .wrapper {
            flex-direction: column;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .favThings {   // Fav things section with dog img 
        
        .favContainer {
            flex-direction: column;
            align-items: center;
        }

        .favImg {
            width: 90%;
        }

        .favTxt {
            width: 90%;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    .photoAbout {

        .wrapper {
            flex-direction: column;
            text-align: left;
        }

        .flexContainer {
            display: block;
            text-align: center;
        }

        .text {
            margin: 0;
            padding-top: 10px;
        }
        

    }

}

/* Landscape phones and down */
@media (max-width: 480px) {

    .headerContainer {

        .decoTxt {
            width: 100px;
            left: -15px;
            bottom: -43px;
        }

        .headerTxt {
            top: 65px;
            left: 6px;
        }
        h2 {
            @include fontSize(80)
        }

    }

}