/* Portrait tablet and small desktops */
@media (max-width: 940px) {

    button {
        width: 40%;
    }

    .headerContainer {
        flex-direction: column;
        gap: 0;

        .headerTxt {
            padding: 0;
            position: relative;
            top: 20px;
            left: 10px;
            z-index: 1;
        }

        .headerPic {
            bottom: -20px;
            z-index: 0;
            box-shadow: 13px 12px 0px 2px white;
        }
        
    }

    .textContainer {
        text-align: center;
    }

    .mobileNav {
        display: block;
        padding: 10px 0px;

    }
    .navBar {
        display: none;
    }


    .favThings {   // Fav things section with dog img 
        
        .wrapper {
            flex-direction: column;
            align-items: center;
        }

        .favImg {
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
        .favTxt {
            width: 100%;
            padding-bottom: 40px;
            margin: 0;

            
        }
    }



    .travelled { // where she's travelled

        .wrapper {
            flex-direction: column-reverse;
        }
        .travelledImg {
            width: 100%;
            display: flex;
            justify-content: left;
            margin-bottom: 90px;

        }

        img {
            width: 100%;
            height: auto;
        }
        .travelledTxt {
            width: 100%;
            padding: 0px;
            padding-bottom: 50px;
            margin: 0;

        }
    }

    .photoAbout {
        padding-top: 50px;
        padding-bottom: 0px;
        .wrapper {
            flex-direction: column;
            text-align: left;
        }
    
        .flexContainer {
            display: block;
            text-align: center;
            
            p {
                margin-bottom: 30px;
            }
        }
        
        .text {
            margin: 0;
            padding-top: 10px;
        }
    
    
    }
    
    .photoAboutTwo {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .journey { //sophie's journey
    
        .wrapper {
            flex-direction: column;
        }
    
        .journeyImg {
            width: 100%;
            padding-bottom: 50px;
            justify-content: center;
        }
    
        img {
            width: 300px;
            height: 300px;
        }
    
        .journeyTxt {
            width: 100%;
            text-align: center;
            padding: 0px;
    
        }
    }

    .threeImg { // three img section 
    
        padding: 50px 50px;
    
        .wrapper {
            flex-direction: column;
        }
    
        img {
            width: 100%;
            height: auto;
        }
    }
    
    // BLOG 

    .blogHeader {
        height: 30vh;
    }

    .blogStyle {
        padding: 80px 0px;

        .columnFlex {
            flex-direction: column-reverse;
        }

        .columnOne {
            flex-direction: row;
            width: 100%;

        }
        .columnTwo {
            width: 100%;
        }

        .about,
        .recent {
            width: 50%;
        }

        button {
            width: 100%;
        }

    }

    // CONTACT
    .contactHeader {
        height: 30vh;
    }
    .contactInfo {

        .wrapperFlex {
            flex-direction: column-reverse;
        }

        .columnLeft {
            width: 100%;
        }
        .columnRight {
            width: 100%;
        }


        button {
            width: 100%;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    button {
        width: 100%;
    }

    .favThings {
        img {
            width: 100%;
        }

        .favTxt {
            text-align: center;
        }
        
        
    }

    .travelled {
        
        .travelledImg {
            width: 100%;
        }
        .travelledTxt {
            text-align: center;

        }
    }

    .journey {
        button {
            width: 100%;
        }
    }

    // blog page 

    .blogHeader {
        h2 {
            @include fontSize(70);
        }
    }
    //contact page 
    
    .contactHeader {
        h2 {
            @include fontSize(70);
            left: 0px;
            white-space: nowrap;
        }
    }
}


/* Landscape phones and down */
@media (max-width: 480px) {

    
    h3 {
        @include fontSize(40);
    
    }
    
    h4 {
        @include fontSize(30);
    
    }
    
    h5 {
        @include fontSize(22);
    
    }

    .wrapper {
        width: 90%;
    }

    .headerContainer {
        .decoTxt {
            width: 100px;
            left: -18px;
            bottom: -38px;
        }

        .headerTxt {
            top: 25px;
            left: px;
        }

        h2 {
            @include fontSize(88)
        }

    }

    .slideOutMenu {
        width: 100%;
    }

    // Blog page

    .blogHeader {
        h2 {
            @include fontSize(55);
            bottom: -30px;
        }
    }
    .blogStyle {
        padding: 60px 0px;

        .columnOne {
            flex-direction: column;

            .about {
                width: 100%;
                text-align: center;
            }

            .recent {
                width: 100%;
            }
        }

        .columnTwo {

            .flex {
                flex-direction: column;
                gap: 0px;
                }
            
        }
        
        .img {
            width: 20%;
        }
    }


// Contact page

    .contactHeader {
        h2 {
            @include fontSize(50);
            bottom: -30px;
            left: 7px;
        }
    }
    
    .contactInfo {
        padding: 60px 0px;
        text-align: center;

    }

    
    
    .contactForm {
        .flex {
            flex-direction: column;
        }

    }

    .socials {
        ul {
            justify-content: center;
        }
    }

}