/* Portrait tablet and small desktops */
@media (max-width: 940px) {

    button {
        width: 40%;
    }

    .headerContainer {
        flex-direction: column;
        gap: 0;

        .headerTxt {
            padding: 0;
            position: relative;
            top: -2px;
            left: 10px;
            z-index: 1;
        }

        .headerPic {
            bottom: -20px;
            z-index: 0;
            box-shadow: 13px 12px 0px 2px white;
        }
        
    }


    .textContainer {
        text-align: center;
    }

    .mobileNav {
        display: block;
        padding: 10px 0px;

    }
    .navBar {
        display: none;
    }

    .journey {

        .wrapper {
            flex-direction: column;
        }

        .journeyImg {
            width: 100%;
            padding-bottom: 50px;
        }

        img {
            width: 300px;
            height: 300px;
        }

        .journeyTxt {
            width: 100%;
            text-align: center;
            padding: 0px;

        }
    }

    .threeImg { // three Img section 

        padding: 50px;
        .wrapper {
            flex-direction: column;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .favThings {   // Fav things section with dog img 
        
        .favContainer {
            flex-direction: column;
            align-items: center;
        }

        .favImg {
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
        .favTxt {
            width: 100%;
            padding: 0px;
            padding-bottom: 30px;

            
        }
    }



    .travelled {

        .travelledContainer {
            flex-direction: column-reverse;
        }
        .travelledImg {
            width: 100%;
            display: flex;
            justify-content: left;
            margin-bottom: 70px;

        }

        img {
            width: 100%;
            height: auto;
        }
        .travelledTxt {
            width: 100%;
            padding: 0px;
            padding-bottom: 50px;

        }
    }

    // BLOG 

    .blogStyle {

        .columnFlex {
            flex-direction: column-reverse;
        }

        .columnOne {
            flex-direction: row;
            width: 100%;

        }
        .columnTwo {
            width: 100%;
        }

        .about,
        .recent {
            width: 50%;
        }

        button {
            width: 100%;
        }

    }

    // Contact page

    .contactInfo {

        .wrapperFlex {
            flex-direction: column-reverse;
        }

        .columnLeft {
            width: 100%;
        }
        .columnRight {
            width: 100%;
        }

        button {
            width: 100%;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    button {
        width: 100%;
    }

    .favThings {
        img {
            width: 100%;
        }

        .favTxt {
            text-align: center;

            
        }
        
        
    }

    .travelled {
        
        .travelledImg {
            width: 100%;
        }
        .travelledTxt {
            text-align: center;

        }
    }



    .photoAbout {
        padding-bottom: 0px;
        .wrapper {
            flex-direction: column;
            text-align: left;
        }

        .flexContainer {
            display: block;
            text-align: center;
        }

        .text {
            margin: 0;
            padding-top: 10px;
        }
        

    }
    .photoAboutTwo {
        padding-bottom: 90px;
    }

   .journey {
       button {
            width: 100%;
       }
   }

}

/* Landscape phones and down */
@media (max-width: 480px) {
    button {
        width: 100%;
    }
    .headerContainer {
        .decoTxt {
            width: 100px;
            left: -20px;
            bottom: -43px;
        }

        .headerTxt {
            top: 0px;
            left: 6px;
        }
        h2 {
            @include fontSize(80)
        }

    }

    // Blog page
    .blogStyle {

        .columnOne {
            flex-direction: column;

            .about {
                width: 100%;
            }

            .recent {
                width: 100%;
            }
        }
        .columnTwo {

            .flex {
                flex-direction: column;
                gap: 0px;
                }

            img {
                width: 50px;
            }
        }
    }


// Contact page 



    
}