.photoAbout {
    background-color: $whiteShade;
    padding-top: 90px;

    .wrapper {
        display: flex;
    }
    .flexContainer {
        display: flex;
    }
    
    i {
        background-color: $tertiary;
        border: 8px solid $tertiary;
        border-radius: 50%;
    }

    .text {
        margin-left: 20px;
    }
}

.photoAboutTwo {
    padding-bottom: 90px;

    .text {
        transition: 0.5s;

        h4 {
            &:hover,
            &:focus {
                color: $accent;
            }
        }
    }
}