.travelled {
    background-color: white;


    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px
    }

    .travelledTxt {
        flex: 1;
        text-align: right;


    }

    .travelledImg {
        flex: 1;
    }

    img {
        box-shadow: 700px 20px 0px 0px $tertiary,
        20px 20px 0px 0px $tertiary,
        300px 20px 0px 0px $tertiary;
        position: relative;
    }
}