.travelled {
    background-color: white;


    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .travelledTxt {
        text-align: right;
        width: 45%;
        margin-right: 100px;

    }

    .travelledImg {
        width: 55%;
        
        img {
        box-shadow: 700px 20px 0px 0px $tertiary,
        20px 20px 0px 0px $tertiary,
        300px 20px 0px 0px $tertiary;
        position: relative;
        top: 20px;
        }
    }
}