// Google Fonts
//font-family: 'Lora', serif;
//font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');

html {
    font-size: 125%;
}

body {
    font-family: $primaryFont;
    font-size: $baseFontSize;
    color: $primary;
}

h1, h2 {
    font-family: $secondaryFont;
    text-transform: uppercase;
    font-weight: bold;
    color: $primary;
    margin: 0;
}

h1 {
    @include fontSize(38);
    letter-spacing: 1px;

}

h2 {
    @include fontSize (80);
}

h3 {
    @include fontSize(42);
    
}

h4 {
    @include fontSize(32);
    
}

h5 {
    @include fontSize(24);
    
}

h3,h4,h5 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

p {
    line-height: 32px;
    letter-spacing: 1px
}

button {
    @include fontSize(20);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
    color: $primary;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 29px;
    color: inherit;
    transition: 0.3s;
}

