//  COLOURS:
// primary text (black) : #2c2c2c;
// secondary colour (dark-grey-blue) : #285e64;
// tertiary (orangey-yellow): #f6a823; 
// quaternary (grey): #4f4f4f; 
// quinary (rust-red): #a82706;
// accent: #05afc1; 
// white shade: #f0efed;

$primary: #2c2c2c;
$secondary: #285e64;
$tertiary: #f6a823;
$quaternary: #4f4f4f;
$quinary: #05afc1;
$senary: #a82706;
$accent: #05afc1;
$whiteShade: #f0efed;

// FONTS 

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Lora', serif;

$baseFontSize: 1rem;