@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #2c2c2c;
}

h1, h2 {
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #2c2c2c;
  margin: 0;
}

h1 {
  font-size: 38px;
  font-size: 1.9rem;
}

h2 {
  font-size: 80px;
  font-size: 4rem;
}

h3 {
  font-size: 42px;
  font-size: 2.1rem;
}

h4 {
  font-size: 32px;
  font-size: 1.6rem;
}

h5 {
  font-size: 24px;
  font-size: 1.2rem;
}

h3, h4, h5 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

p {
  line-height: 32px;
}

button {
  font-size: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  color: #2c2c2c;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 29px;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

body {
  background-color: #f6a823;
}

section {
  background-color: #f0efed;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

button {
  background-color: #05afc1;
  border: 2px solid #05afc1;
  cursor: pointer;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
button:hover, button:focus {
  border: 2px solid #05afc1;
  background-color: #f0efed;
  color: #05afc1;
}

a {
  display: inline-block;
}

footer {
  text-align: center;
  background-color: #2c2c2c;
  color: white;
  padding: 10px 0px;
}
footer p {
  margin: 0;
  line-height: 32px;
}

.mobileNav {
  background-color: #f6a823;
  padding: 20px 0px;
  position: sticky;
  top: 0%;
  z-index: 10;
  display: none;
}
.mobileNav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobileNav .menuIcon {
  padding: 10px;
}
.mobileNav i {
  font-size: 30px;
  font-size: 1.5rem;
}
.mobileNav .logo {
  padding-top: 10px;
}
.mobileNav a,
.mobileNav h1 {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.mobileNav a:hover, .mobileNav a:focus,
.mobileNav h1:hover,
.mobileNav h1:focus {
  color: #f0efed;
}

.navBar {
  background-color: #f6a823;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 20px 0;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navBar li {
  padding: 10px 15px;
}
.navBar a {
  padding: 10px 15px;
}
.navBar a:hover, .navBar a:focus {
  color: #f0efed;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  padding-top: 10px;
}
.headerContainer .headerTxt {
  padding-bottom: 20px;
}
.headerContainer .decoTxt {
  width: 140px;
  position: relative;
  bottom: -50px;
  left: -40px;
  z-index: -1;
}
.headerContainer h2 {
  font-size: 90px;
  font-size: 4.5rem;
  letter-spacing: 5px;
}
.headerContainer .headerPic {
  position: relative;
  bottom: -40px;
  -webkit-box-shadow: 13px 12px 0px 2px white;
          box-shadow: 13px 12px 0px 2px white;
}
.headerContainer img {
  max-width: 100%;
  height: auto;
}

.blogHeader {
  background-image: url(/assets/blog-image-1.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.blogHeader h2 {
  position: absolute;
  bottom: -40px;
}

.contactHeader {
  background-image: url(/assets/contact-image-1.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contactHeader h2 {
  position: absolute;
  bottom: -40px;
}

.whoIsSophie {
  background-color: #f0efed;
  padding: 90px 0;
}
.whoIsSophie .textContainer {
  padding: 50px;
}

.favThings {
  background-color: white;
}
.favThings .favContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 80px;
}
.favThings .favTxt {
  width: 50%;
  padding: 60px 50px;
}
.favThings .favImg {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.favThings img {
  width: 700px;
  height: 400px;
  -webkit-box-shadow: -800px 20px 0px 0px #a82706, 20px 20px 0px 0px #a82706, -300px 20px 0px 0px #a82706;
          box-shadow: -800px 20px 0px 0px #a82706, 20px 20px 0px 0px #a82706, -300px 20px 0px 0px #a82706;
  position: relative;
  top: -30px;
}

.travelled {
  background-color: white;
}
.travelled .travelledContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 80px;
}
.travelled .travelledTxt {
  width: 50%;
  text-align: right;
  padding: 60px 50px;
}
.travelled .travelledImg {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.travelled img {
  width: 700px;
  height: 400px;
  -webkit-box-shadow: 800px 20px 0px 0px #f6a823, 20px 20px 0px 0px #f6a823, 300px 20px 0px 0px #f6a823;
          box-shadow: 800px 20px 0px 0px #f6a823, 20px 20px 0px 0px #f6a823, 300px 20px 0px 0px #f6a823;
  position: relative;
  top: 30px;
}

.photoAbout {
  background-color: #f0efed;
  padding: 90px 0px;
}
.photoAbout .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.photoAbout .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.photoAbout i {
  background-color: #f6a823;
  border: 8px solid #f6a823;
  border-radius: 50%;
}
.photoAbout .text {
  margin-left: 20px;
}

.photoAboutTwo {
  padding-top: 0;
}

.fullBleed {
  background-image: url(/assets/home-image-4.jpg);
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.journey {
  background-color: #f0efed;
  padding: 90px 0px;
}
.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.journey .journeyImg {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.journey .journeyTxt {
  width: 60%;
}
.journey img {
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 13px 12px 0px 2px #f6a823;
          box-shadow: 13px 12px 0px 2px #f6a823;
}

.threeImg {
  background-color: white;
  padding: 90px 0px;
}
.threeImg .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 55px;
}
.threeImg img {
  width: 300px;
}

.blogStyle {
  padding: 50px 0px;
}
.blogStyle .columnFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.blogStyle .columnOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
  gap: 20px;
}
.blogStyle .columnOne .about h5 {
  margin-top: 20px;
}
.blogStyle .columnOne .recent h5 {
  margin-bottom: 10px;
}
.blogStyle .columnOne .recent ul {
  margin-left: 20px;
}
.blogStyle .columnOne .recent li {
  padding: 10px;
}
.blogStyle .columnOne .recent li::before {
  content: "•";
  color: #f6a823;
  display: inline-block;
  width: 20px;
  margin-left: -10px;
}
.blogStyle .columnTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  gap: 20px;
}
.blogStyle .about,
.blogStyle .recent,
.blogStyle .blog,
.blogStyle .commentOne,
.blogStyle .commentTwo {
  background-color: white;
  padding: 30px;
}
.blogStyle .blog {
  border-bottom: 3px solid #f6a823;
}
.blogStyle .commentOne,
.blogStyle .commentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.blogStyle .commentTwo {
  border-bottom: 3px solid #f6a823;
}
.blogStyle .img {
  width: 10%;
}
.blogStyle .txt {
  width: 90%;
}
.blogStyle span {
  color: #285e64;
  font-weight: bold;
}
.blogStyle h4 {
  margin-bottom: 20px;
}

.contactInfo {
  padding: 90px 0px;
}
.contactInfo .wrapperFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.contactInfo .columnLeft {
  width: 35%;
}
.contactInfo .infoBox {
  background-color: white;
  padding: 50px;
}
.contactInfo .infoBox a {
  text-transform: lowercase;
}
.contactInfo .socials {
  color: #f6a823;
  font-size: 25px;
  font-size: 1.25rem;
}
.contactInfo .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}
.contactInfo .columnRight {
  width: 65%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
form .flex input {
  width: 100%;
}
form input,
form textarea {
  border: 0;
  padding: 20px 30px;
  margin-bottom: 30px;
  accent-color: #05afc1;
  resize: none;
  font-style: italic;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  button {
    width: 40%;
  }
  .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .headerContainer .headerTxt {
    padding: 0;
    position: relative;
    top: 70px;
    left: -22px;
    z-index: 1;
  }
  .headerContainer .headerPic {
    bottom: -20px;
    z-index: 0;
    -webkit-box-shadow: 13px 12px 0px 2px white;
            box-shadow: 13px 12px 0px 2px white;
  }
  .textContainer {
    text-align: center;
  }
  .mobileNav {
    display: block;
    padding: 10px 0px;
  }
  .navBar {
    display: none;
  }
  .journey .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .journey .journeyImg {
    width: 100%;
    padding-top: 50px;
  }
  .journey img {
    width: 300px;
    height: 300px;
  }
  .journey .journeyTxt {
    width: 100%;
    text-align: center;
    padding: 10px 50px;
  }
  .threeImg {
    padding: 50px;
  }
  .threeImg .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .threeImg img {
    width: 100%;
    height: auto;
  }
  .favThings .favContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .favThings .favImg {
    width: 100%;
  }
  .favThings img {
    width: 100%;
    height: auto;
  }
  .favThings .favTxt {
    width: 100%;
    padding: 0px;
    padding-bottom: 45px;
  }
  .favThings .favTxt button {
    width: 40%;
  }
  .travelled .travelledContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .travelled .travelledImg {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .travelled img {
    width: 100%;
    height: auto;
  }
  .travelled .travelledTxt {
    width: 100%;
    padding-top: 50px 0px;
  }
  .travelled .travelledTxt button {
    width: 40%;
  }
  .blogStyle .columnFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blogStyle .columnOne {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .blogStyle .columnTwo {
    width: 100%;
  }
  .blogStyle .about,
.blogStyle .recent {
    width: 50%;
  }
  .blogStyle button {
    width: 100%;
  }
  .contactInfo .wrapperFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contactInfo .columnLeft {
    width: 100%;
  }
  .contactInfo .columnRight {
    width: 100%;
  }
  .contactInfo button {
    width: 100%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .favThings img {
    width: 100%;
  }
  .favThings .favTxt {
    text-align: center;
  }
  .favThings .favTxt button {
    width: 100%;
  }
  .travelled .travelledImg {
    width: 100%;
  }
  .travelled .travelledTxt {
    text-align: center;
  }
  .travelled .travelledTxt button {
    width: 100%;
  }
  .photoAbout {
    padding-bottom: 0px;
  }
  .photoAbout .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .photoAbout .flexContainer {
    display: block;
    text-align: center;
  }
  .photoAbout .text {
    margin: 0;
    padding-top: 10px;
  }
  .photoAboutTwo {
    padding-bottom: 90px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .headerContainer .decoTxt {
    width: 100px;
    left: -15px;
    bottom: -43px;
  }
  .headerContainer .headerTxt {
    top: 62px;
    left: 6px;
  }
  .headerContainer h2 {
    font-size: 70px;
    font-size: 3.5rem;
  }
  .blogStyle .columnOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogStyle .columnOne .about {
    width: 100%;
  }
  .blogStyle .columnOne .recent {
    width: 100%;
  }
  .blogStyle .columnTwo .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  .blogStyle .columnTwo img {
    width: 50px;
  }
}